<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
  <div class="container d-flex align-items-center justify-content-between">
    <img class="logotype" src="/assets/img/logos/logo.png" alt="Logotipo del cine"/>
    <app-navbar></app-navbar>
  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<!--<section id="hero">
<div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  <div class="carousel-inner" role="listbox">
  </div>
</div>
</section>-->
<!-- End Hero -->

<!-- ======= Main Section ======= -->
<main id="main">
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg p-12">
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</section><!-- End Contact Section -->
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<app-footer></app-footer>
